/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

.container {
    max-width: 1440px;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.row {
    margin-bottom: 50px;
}

.col {
    float: left;
    width: calc( 100% / 3 - 16px);
    margin: 0 8px;
}

/* positions */

.product {
    position: relative;
}

.product div {
    position: absolute;
}

/* body */

.col img {
    width: 100%;
}

.description {
    margin: 5px 0;
}

.item-brand {
    text-transform: capitalize;
}

.item-descr {
    text-transform: uppercase;
}

.new-price {
    color: red;
    font-weight: bolder;
}

.old-price {
    text-decoration: line-through;
}

.heart {
    background-color: #fff;
    top: 30px;
    right: 0;
    padding: 10px;
}

.banner  {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    bottom: 30px;
    padding: 4px 8px;
}

.discount-perc {
    background-color: red;
    left: 0;
}

.sustainability {
    background-color: green;
    left: 50px;
}

.sustainability1 {
    background-color: green;
    left: 0px;
}